<div class="login-holder">
  <div class="login-body">
    <h1>Sign In</h1>
    <h2>Sign in to start watching or restart your membership.</h2>
    <div>
      <form action="post">
        <input
          class="form-control"
          type="email"
          name="email"
          id="email"
          placeholder="Email"
        />
        <input
          class="form-control"
          type="password"
          name="password"
          id="password"
        />
        <button class="btn btn-primary" type="submit" autocomplete="off">
          Sign In
        </button>
      </form>
    </div>
  </div>
</div>
